# Python cache
__pycache__/

# Virtual environments
*venv/
venv/
*derpin/
derpin/
env/
.env
.venv/

# Data files
TCI_2.tif
TCI.tif
*tif
# Models
models/DelineateAnything.pt*pt
DelineateAnything.pt
Dashboard/fields.geojson
Dashboard/overlay.png
