# Python cache
__pycache__/

# Virtual environments
*venv/
venv/
*derpin/
derpin/
env/
.env
.venv/

# Data files
TCI_2.tif
TCI.tif
*tif
# Models
DelineateAnything.pt
models/DelineateAnything.pt

temp_temp_TCI_2.tif
temp_temp_TCI.tif
temp_TCI_2.tif
output/
*output/
Dashboard/fields.geojson
Dashboard/output_fields.geojson
Dashboard/overlay.png